@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root{
    --brown-color: #a3726f;
    --brown-light: #cf9a97;
    --brown-light2: #d4bab8;
    --red-color:#993a32;
    --red-color2: #c71221;
    --blue-color: #2676bd;
    --white-color:#EBF7EE;


}
html{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body {    
    background-color: white !important;
    width: 100vw;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
      border: 2px ;
      padding: 1em;
      text-align: center;
      background-color:darkslategrey;
    color: var(--brown-light2);
     position: relative;
        width: 100%;
        height: 75px;
}

.mainBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    margin-top: 10px;
    /* padding: 20px; */
    /* margin: 0 auto; */
    
}

.formclass{
    position: relative;
    width: 70vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px; 
    border-bottom: 4px solid var(--brown-light2);
}

.employeeForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    /* fieldset{
        background-color: red;
    } */

    .employeeForm label{
        /* display: block; */
        width: 100%;
        font-weight: bolder;
        text-align:center;
        font-size: 1.3rem;
        /* margin: 10px; */
    }
 
    .employeeForm legend{
        color: var(--blue-color);
        font-weight: bolder;
        width:100%;
        text-align: center;
        border-bottom: 4px solid var(--red-color);
        margin-bottom: 15px;
    }
     
    .employeeForm input{
        position: relative;
        height: 100%;
        width: 60%;
        margin: 0 auto;
        /* margin-left: 30px; */
        background-color: var(--brown-light2);
        border:2px solid var(--brown-color);
        display: block;
        color: black;
        font-size: larger;
        padding: 10px;
    }

    .employeeForm input[type="submit"], input[type="reset"]{
        width: 30%;
        height: 40px;
        padding: 0;
        /* padding-bottom: 50px; */
        margin: 10px;
        font-size: 1.5rem;
        background-color: var(--blue-color);
        color: var(--white-color);
    }
    input[type="reset"]{
        background-color: var(--red-color) !important;
    }

        .listEmployees{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            width: 90%;
            height: auto;
        }
 
         .listEmployee{
            /* flex-basis: 35%; */
            width: 25vw;

            margin: 50px;
            /* height: 300px; */
            display: flex;
            flex-direction: column;
            position: relative;
            border-radius: 10% !important;
        }

        .card-image{
            display: block;
            width: 200px;
            height: 300px;
            border-radius: 10% !important;
        }

        /* .cardbody{
            text-align: center;
            font-size: 1.5rem;
        }

        .cardtitle{
            font-size: 2rem !important;
            color: var(--brown-color);
            text-shadow: 1px 1px 1px red;
        } */