@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root{
    --brown-color: #a3726f;
    --brown-light: #cf9a97;
    --brown-light2: #d4bab8;
    --red-color:#993a32;
    --red-color2: #c71221;
    --blue-color: #2676bd;


}
html{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body {    
    background-color: var(--brown-light2) !important;
    width: 100vw;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}


.card-image {
   height: 20em; 

}

.header {
      border: 2px ;
      padding: 1em;
      text-align: center;
      border-radius: 12%;
      background-color:darkslategrey;
}


.footer {
    border-style: solid;
    position: absolute;
    /* bottom: 0; */
    height: 50px; 
    min-width:100vw;
    background-color: darkslategrey;
    border-radius: 12%;
}
.footer p {
    padding-left: 3em;
    font-size: large;
}