@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root{
    --brown-color: #a3726f;
    --brown-light: #cf9a97;
    --brown-light2: #d4bab8;
    --red-color:#993a32;
    --red-color2: #c71221;
    --blue-color: #2676bd;
    --white-color:#EBF7EE;


}
html{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body {    
    background-color: white !important;
    width: 100vw;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
      border: 2px ;
      padding: 1em;
      text-align: center;
      background-color:darkslategrey;
    color: var(--brown-light2);
     position: relative;
        width: 100%;
        height: 15vh;
}

.mainBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    /* margin: 0 auto; */
    
}

.employeeForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;;
    margin-bottom: 20px;
    border-bottom: 4px solid var(--brown-light2);
}
 
    .employeeForm legend{
        color: var(--blue-color);
        font-weight: bolder;
        width:27%;
        border-bottom: 4px solid var(--red-color);
        margin-bottom: 15px;
    }
     
    .employeeForm input{
        width: 100%;
        height: 32px;
        margin-bottom: 8px;
        background-color: var(--brown-light2);
        border:2px solid var(--brown-color);
        color: black;
        font-size: larger;
        padding: 10px;
    }

    .employeeForm input[type="submit"], input[type="reset"]{
        width: 30%;
        height: 50px;
        padding: 0;
        /* padding-bottom: 50px; */
        font-size: 1.5rem;
        background-color: var(--blue-color);
        color: var(--white-color);
    }

        .listEmployees{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            position: relative;
        }
 
         .listEmployee{
            flex-basis: 30%;
            /* flex-grow: 1; */
            flex-shrink: 1;
            margin: 30px;
            height: auto;
            position: relative;
            border-radius: 10% !important;
        }

        .card-image{
            height: 400px !important;
            /* width: 40%; */
            border-radius: 10% !important;
        }

        .cardbody{
            text-align: center;
            font-size: 1.5rem;
        }

        .cardtitle{
            font-size: 2rem !important;
            color: var(--brown-color);
            text-shadow: 1px 1px 1px red;
        }